Repository cerner/terra-dev-site, pull requests merged in 2020-05, with the labels that each got.

#261 Secondary Navigation Menu should scroll when item is not visible
  CHANGELOG.md
  src/navigation/_CollapsingNavigationMenu.jsx
  src/search/_Search.jsx
  src/terra-dev-site/snt/secondary-scroll-test/filler/fillerTest.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler01/filler01Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler02/filler02Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler03/filler03Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler04/filler04Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler05/filler05Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler06/filler06Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler07/filler07Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler08/filler08Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler09/filler09Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler10/filler10Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler11/filler11Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler12/filler12Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler13/filler13Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler14/filler14Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler15/filler15Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler16/filler16Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler17/filler17Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler18/filler18Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler19/filler19Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler20/filler20Test.snt.mdx
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_item_is_visible_after].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_item_is_visible_before].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_down_when_item_is_not_visible_and_at_the_bottom_after].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_down_when_item_is_not_visible_and_at_the_bottom_before].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_up_when_item_is_not_visible_and_at_the_top_after].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_up_when_item_is_not_visible_and_at_the_top_before].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_item_is_visible_after].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_item_is_visible_before].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_down_when_item_is_not_visible_and_at_the_bottom_after].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_down_when_item_is_not_visible_and_at_the_bottom_before].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_up_when_item_is_not_visible_and_at_the_top_after].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_up_when_item_is_not_visible_and_at_the_top_before].png
  tests/wdio/secondaryNavigation-spec.js
Labels: bug-fix

#264 Secondary Navigation Menu should not scroll down when selecting item via space bar click
  CHANGELOG.md
  src/navigation/_CollapsingNavigationMenu.jsx
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_selecting_through_spacebar_after].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_selecting_through_spacebar_before].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_selecting_through_spacebar_after].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_selecting_through_spacebar_before].png
  tests/wdio/secondaryNavigation-spec.js
Labels: bug-fix

#267 Fixing flaky tests
  CHANGELOG.md
  src/terra-dev-site/snt/secondary-scroll-test/GoToButton.jsx
  src/terra-dev-site/snt/secondary-scroll-test/filler/fillerTest.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler01/filler01Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler02/filler02Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler04/filler04Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler10/filler10Test.snt.mdx
  src/terra-dev-site/snt/secondary-scroll-test/filler17/filler17Test.snt.mdx
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_item_is_visible_after].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_item_is_visible_before].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_selecting_through_spacebar_after].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_selecting_through_spacebar_before].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_down_when_item_is_not_visible_and_at_the_bottom_after].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_down_when_item_is_not_visible_and_at_the_bottom_before].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_up_when_item_is_not_visible_and_at_the_top_after].png
  tests/wdio/__snapshots__/reference/de/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_up_when_item_is_not_visible_and_at_the_top_before].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_item_is_visible_after].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_item_is_visible_before].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_selecting_through_spacebar_after].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_not_scroll_when_selecting_through_spacebar_before].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_down_when_item_is_not_visible_and_at_the_bottom_after].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_down_when_item_is_not_visible_and_at_the_bottom_before].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_up_when_item_is_not_visible_and_at_the_top_after].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/secondaryNavigation-spec/secondary_nav[should_scroll_up_when_item_is_not_visible_and_at_the_top_before].png
  tests/wdio/search-spec.js
  tests/wdio/secondaryNavigation-spec.js
Labels: :package: terra-dev-site, bug-fix

#269 Update Terra Form Select Dependency
  CHANGELOG.md
  CONTRIBUTORS.md
  package.json
Labels: :package: terra-dev-site, intern project
