Repository cerner/terra-dev-site, pull requests merged in 2020-06, with the labels that each got.

#271 Fixes NewRelic error when SessionStorage property of window is not accessible.
  CHANGELOG.md
  CONTRIBUTORS.md
  src/redirect.js
  src/rewriteHistory.js
  src/session.js
  src/site/_Site.jsx
Labels: bug

#273 Update props table source error
  CHANGELOG.md
  config/webpack/loaders/devSitePropsTable.js
  jestsetup.js
Labels: :package: terra-dev-site, intern project

#274 Update eslint config terra dependency
  CHANGELOG.md
  package.json
Labels: :package: terra-dev-site, intern project

#278 Props Table Loader: Fixed Required custom prop to show as required.
  CHANGELOG.md
  config/webpack/loaders/devSitePropsTable.js
  src/terra-dev-site/test/loaders/PropsTableExample.jsx
  tests/wdio/__snapshots__/reference/de/chrome_huge/loaders-spec/loaders[props_table].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/loaders-spec/loaders[props_table].png
Labels: bug-fix

#277 Add lowlight and fusion theme support for dev site
  CHANGELOG.md
  config/webpack/loaders/devSiteMarked.js
  scripts/new-relic/getNewRelicJS.js
  src/loader-components/ExampleTemplate.module.scss
  src/loader-components/PropsTable.module.scss
  src/loader-components/_ExampleTemplate.jsx
  src/loader-components/_PropsTable.jsx
  src/loader-components/clinical-lowlight-theme/ExampleTemplate.module.scss
  src/loader-components/clinical-lowlight-theme/PropsTable.module.scss
  src/loader-components/orion-fusion-theme/ExampleTemplate.module.scss
  src/loader-components/orion-fusion-theme/PropsTable.module.scss
  src/marked/clinical-lowlight-theme/marked.module.scss
  src/marked/marked.module.scss
  src/marked/orion-fusion-theme/marked.module.scss
  src/mdx/MarkdownTags.module.scss
  src/mdx/_Tag.jsx
  src/mdx/clinical-lowlight-theme/MarkdownTags.module.scss
  src/mdx/orion-fusion-theme/MarkdownTags.module.scss
  src/navigation/CollapsingNavigationMenu.module.scss
  src/navigation/_CollapsingNavigationMenu.jsx
  src/navigation/clinical-lowlight-theme/CollapsingNavigationMenu.module.scss
  src/navigation/orion-fusion-theme/CollapsingNavigationMenu.module.scss
  src/search/_Search.jsx
  src/search/clinical-lowlight-theme/search.module.scss
  src/search/orion-fusion-theme/search.module.scss
  src/search/search.module.scss
  src/site/siteConfigPropTypes.js
  src/wrappers/MarkdownWrapper.module.scss
  src/wrappers/_MarkdownWrapper.jsx
  src/wrappers/clinical-lowlight-theme/MarkdownWrapper.module.scss
  src/wrappers/orion-fusion-theme/MarkdownWrapper.module.scss
Labels: :package: terra-dev-site, :star: UX Reviewed
